*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; border:none;
  color: #808080;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #e0e0e0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #e0e0e0;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #e0e0e0;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #e0e0e0;
}

a {
	text-decoration: none;
	color: #808080;
}

ul {
	list-style: none; 

}

.remove-css {
	border: none;
	padding: 0;
	margin: 0;
}

.hidden {
	display: none;
}


